# Resend
RESEND_API_KEY=tu_resend_api_key

# Production
DATABASE_URL=tu_database_url

# Django Core
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
SECRET_KEY=tu_llave_secreta

# Email
EMAIL_HOST_USER=tu_email
EMAIL_HOST_PASSWORD=tu_email_password